@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: var(--font-roboto);
}

.antonfont {
    font-family: var(--font-anton);
}

.react-datepicker-popper {
    z-index: 999 !important;
}